<style>
    .logo {
width: 100px;
border-width: 1px;
border-radius: 5px;
border-color: red;
color: red;
margin-left: 3px;
}

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <button class="logo" type="submit">log out</button>
            </form>
        </div>
    </div>
</nav>



<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">password</th>
      <th scope="col">option</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td><button class="btn btn-outline-success" type="submit">edit</button>
      <button class="btn btn-outline-danger" type="submit">delete</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td><button class="btn btn-outline-success" type="submit">edit</button>
      <button class="btn btn-outline-danger" type="submit">delete</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td><button class="btn btn-outline-success" type="submit">edit</button>
      <button class="btn btn-outline-danger" type="submit">delete</button></td>
    </tr>
  </tbody>
</table>